<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Todo List</title>
	<meta name="author" content="daisykoo666@gmail.com">
	<meta name="description" content="backbone demo">
	<meta name="keywords" content="backbone,SPA">
	<link rel="stylesheet" type="text/css" href="./style/index.css">
	<script data-main="./js/main.js" src="js/libs/require-2.1.11.js"></script>
</head>
<body>
	<div id="title">My Todo List</div>
	<div class="main-container">
		<form class="form">
			<input type="text" id="input-todo"></input>
			<a id="submit-todo" >Do It!</a>
		</form>

		<div class="todo-content-wrap">
			<ul>
				<li class="todo-item">
					<input type="checkbox"></input>
					<span>买菜去</span>
				</li>
				<li class="todo-item">
					<input type="checkbox"></input>
					<span>买菜去</span>
				</li>
			</ul>
		</div>
	</div>
	

	<!-- tabbar -->
	<div class="tabbar">
		<a href="#history" class="history">What I have done?</a>
		<a href="#history" class="history">Return my todo list.</a>
	</div>

	<script type="text/html" id="todo-content">
		<ul>
			<% for(var i = 0; i < data.length; i++) {%>
				<li class="todo-item">
					<input type="checkbox"></input>
					<span>买菜去</span>
				</li>
			<% } %>
		</ul>
	</script>

</body>
</html>