<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Todo List</title>
	<meta name="author" content="daisykoo666@gmail.com">
	<meta name="description" content="backbone demo">
	<meta name="keywords" content="backbone,SPA">
	<link rel="stylesheet" type="text/css" href="./style/index.css">
	<script data-main="./js/main.js" src="js/libs/require-2.1.11.js"></script>
</head>
<body>
	<!-- tabbar -->
	<div class="tabbar">
		<a href="#history" class="history">What I have done?</a>
		<a href="#" class="history">Return my todo list.</a>
	</div>

<div class="container">
	<div id="title">My Todo List</div>
	<div class="main-container">
		<form class="form">
			<input type="text" id="input-todo"></input>
			<a id="submit-todo" >Do It!</a>
		</form>
	</div>
	<div class="todo-content-wrap">
		<ul class="todo-content">
			<script type="text/html" id="todo-content">
				<li class="todo-item" id="item_<%= data.id %>" >
					<input type="checkbox" class="check" data-relid=<%= data.id %>></input>
					<span><%= data.content %></span>
				</li>
			</script>
		</ul>
	</div>
</div>
	
		
	

</body>
</html>